@model IEnumerable<AndradeR_LigaPro_Clase03.Models.Equipo>

<h1>Tabla de clasificacion LigaPro Ecuabet</h1>

<table class="table">
    <thead>
        <tr>
            <th>Puesto</th>
            <th>Logo</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.PartidosJugados)</th>
            <th>@Html.DisplayNameFor(model => model.PartidosGanados)</th>
            <th>@Html.DisplayNameFor(model => model.PartidosPerdidos)</th>
            <th>@Html.DisplayNameFor(model => model.PartidosEmpatados)</th>
            <th>Puntos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int puesto = 1; // Variable para calcular el puesto
        }
        @foreach (var item in Model.OrderByDescending(e => (e.PartidosGanados * 3) + e.PartidosEmpatados))
        {
            <tr>
                <td>@puesto</td>
                <td>
                    <img src="@item.LogoPath" alt="@item.Nombre Logo" style="max-width: 50px;" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.PartidosJugados)</td>
                <td>@Html.DisplayFor(modelItem => item.PartidosGanados)</td>
                <td>@Html.DisplayFor(modelItem => item.PartidosPerdidos)</td>
                <td>@Html.DisplayFor(modelItem => item.PartidosEmpatados)</td>
                <td>@((item.PartidosGanados * 3) + item.PartidosEmpatados)</td>
                <td>
                    @Html.ActionLink("Ver información Equipo", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
            puesto++;
        }
    </tbody>
</table>